
build/
src/build/
*.o
*.obj
*.exe
*.log
*.swp
*.swo
.vscode/
.DS_Store
HE/clone/
HE/seal/
src/main1.cpp
src/main2.cpp
src/main_temp.cpp
src/main.cpp
src/main_batchmode.cpp
src/data/data_file/
src/artifacts/
.dockerignore